// 헤더
@media screen and (max-width: 1024px) and (min-width: 769px){
    header {
       .navbar {
            ul {
                li{
                    margin:0 30px !important;
                    font-size: 16px !important;
                    // font-weight: bold;
                }   
            }
        } 
    }
}


@media screen and (max-width: 768px) {
    header {
        .navbar {
            position: fixed;
            top: 0;
            right: -100%;
            width: 70% !important;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: right 0.3s ease-in-out;
            z-index: 998;
            box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);

            ul {
                flex-direction: column;
                margin: 0;

                li {
                    margin: 30px 0 !important;
                }
            }
        }

        .nav-icon {
            display: block !important; // 모바일에서는 보이게
            z-index: 1000;
            cursor: pointer;
        }
    }

    // 메뉴가 열렸을 때 클래스 추가해서 슬라이드 인
    .navbar.active {
        right: 0;
    }
}

// 섹션1 
@media (max-width: 1024px) {
    #sec1 {
        box-sizing: border-box;
        flex-direction: column !important;
        justify-content: center !important;
        padding-top: 100px;
    }
}

//섹션2
@media (max-width: 1024px) {
    #sec2 {
        gap: 50px !important;
        align-items: center !important;
        .sec2_textbox {
            padding-top: 20px;
            margin-bottom: 0 !important;
        }
    }
}

@media (max-width: 768px) {
    #sec2 {
        box-sizing: border-box;
        flex-direction: column !important;
        justify-content: center !important;
        height: auto !important;
        gap: 10px !important;
        padding: 20px 0;
        .sec2_textbox {
            height: auto !important;
            text-align: center;
            >.sec2_linktext {
                margin: 10px auto !important;
            }
        }
    }
}

//섹션3
@media (max-width: 1024px) {
    #sec3 {
        margin-bottom: 150px !important;
        .sec3_box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .sec3_textbox {
                width: 100% !important;
                .sec3_flexbox {
                    .flex {
                        line-height: 35px !important;
                    }
                }
            }
        }
    }
}

//섹션 4
@media (max-width: 768px) {
   .swiper-slide {
        width: 60px !important;
    }
    .swiper-slide img {
        width: 60px !important;
        height: 60px !important;
    }
    .swiper{margin: 50px 0 0 0 !important;} 
}

//섹션 5
@media (max-width: 1400px) {
    .sec5_box {
        height: 400px !important;
    }
}

@media (max-width: 1024px) {
  .sec5_boxes {
    justify-content: space-evenly;

    .sec5_box {
      width: 45%;
    }
  }
}

@media (max-width: 768px) {
  .sec5_boxes {
    flex-direction: column;
    align-items: center;

    .sec5_box {
      width: 90%;
    }

    .sec5_link {
      width: 100%;
    }
  }
}




/**************** 서브사이트 *****************/
@media (min-width:1401px) and (max-width:1800px) {
    .project-nav {
        ul {              
            li {
                a {                    
                    font-size: 13px;
                }
            }  
        }
    }
}

// @media (max-width:1400px) {

// }
