@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Sarabun:wght@400;700&display=swap");
@font-face {
  font-family: "PyeojinGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Paperlogy 3";
  src: url("Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 4";
  src: url("Paperlogy-4Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 5";
  src: url("./fonts/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 6";
  src: url("./fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 7";
  src: url("./fonts/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy 8";
  src: url("./fonts/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
/* 기본 본문용 */
body {
  font-family: "Paperlogy 5";
  line-height: 1.6;
}

/* 아주 두껍게 */
.font_xb {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

/* 중간 굵기 */
.font_b {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
}

.font_sb {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.font_csseb {
  font-family: "Paperlogy 8";
}

.font_cssb {
  font-family: "Paperlogy 7";
}

.font_csssb {
  font-family: "Paperlogy 6";
}

.font_cssm {
  font-family: "Paperlogy 5";
}

.font_cssr {
  font-family: "Paperlogy 4";
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
}

::-moz-selection {
  background-color: #6A8A6F; /* 배경색 (드래그한 영역의 색) */
  color: #fff; /* 글자 색 */
}

::selection {
  background-color: #6A8A6F; /* 배경색 (드래그한 영역의 색) */
  color: #fff; /* 글자 색 */
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  header .navbar ul li {
    margin: 0 30px !important;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  header .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70% !important;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 998;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
  }
  header .navbar ul {
    flex-direction: column;
    margin: 0;
  }
  header .navbar ul li {
    margin: 30px 0 !important;
  }
  header .nav-icon {
    display: block !important;
    z-index: 1000;
    cursor: pointer;
  }
  .navbar.active {
    right: 0;
  }
}
@media screen and (max-width: 430px) {
  header {
    max-width: 430px !important;
  }
  header .navbar {
    width: 100% !important;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@media (max-width: 1024px) {
  #sec1 {
    box-sizing: border-box;
    flex-direction: column !important;
    justify-content: center !important;
    padding-top: 100px;
  }
}
@media (max-width: 431px) {
  #sec1 .sec1_img {
    min-width: 400px !important;
  }
}
@media (max-width: 390px) {
  #sec1 .sec1_img {
    min-width: 300px !important;
  }
}
@media (max-width: 1024px) {
  #sec2 {
    gap: 50px !important;
    align-items: center !important;
  }
  #sec2 .sec2_textbox {
    padding-top: 20px;
    margin-bottom: 0 !important;
  }
}
@media (max-width: 768px) {
  #sec2 {
    box-sizing: border-box;
    flex-direction: column !important;
    justify-content: center !important;
    height: auto !important;
    gap: 10px !important;
    padding: 20px 0;
  }
  #sec2 .sec2_textbox {
    height: auto !important;
    text-align: center;
  }
  #sec2 .sec2_textbox > .sec2_linktext {
    margin: 10px auto !important;
  }
}
@media screen and (max-width: 430px) {
  #sec2 .sec2_textbox {
    max-width: 430px !important;
  }
}
@media screen and (max-width: 391px) {
  #sec2 .sec2_textbox {
    max-width: 300px !important;
  }
  #sec2 .sec2_textbox .sec2_title {
    font-size: 18px !important;
  }
  #sec2 .sec2_textbox .sec2_sub {
    font-size: 11px !important;
  }
  #sec2 .sec2_textbox .sec2_linktext {
    margin-top: 30px;
    width: 100px !important;
    height: 30px !important;
  }
  #sec2 .sec2_textbox .sec2_linktext a {
    line-height: 30px !important;
    font-size: 11px !important;
  }
}
@media (max-width: 1024px) {
  #sec3 {
    margin-bottom: 150px !important;
  }
  #sec3 .sec3_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sec3 .sec3_box .sec3_textbox {
    width: 100% !important;
  }
  #sec3 .sec3_box .sec3_textbox .sec3_flexbox .flex {
    line-height: 35px !important;
  }
}
@media (max-width: 430px) {
  #sec3 {
    margin-bottom: 150px !important;
  }
  #sec3 .sec3_box .sec3_imgbox .sec3_img {
    min-width: 300px !important;
    max-width: 400px !important;
  }
  #sec3 .sec3_box .sec3_textbox {
    width: 100% !important;
  }
  #sec3 .sec3_box .sec3_textbox .sec3_ment {
    line-height: 30px !important;
    margin-bottom: 10px !important;
  }
  #sec3 .sec3_box .sec3_textbox .sec3_flexbox .flex {
    width: 100% !important;
    min-height: 100px !important;
    line-height: 30px !important;
  }
}
@media (max-width: 376px) {
  #sec3 .sec3_box .sec3_imgbox .sec3_img {
    min-width: 280px !important;
    max-width: 330px !important;
  }
  #sec3 .sec3_box .sec3_textbox .sec3_ment {
    height: 50px !important;
    line-height: 25px !important;
    font-size: 13px !important;
  }
}
@media (max-width: 768px) {
  .swiper-slide {
    width: 60px !important;
  }
  .swiper-slide img {
    width: 60px !important;
    height: 60px !important;
  }
  .swiper {
    margin: 50px 0 0 0 !important;
  }
}
@media (max-width: 431px) {
  #sec4 .tab-menu {
    gap: 10px !important;
  }
}
@media (max-width: 376px) {
  #sec4 .tab-menu {
    gap: 10px !important;
  }
  #sec4 .tab-btn {
    max-width: 100px !important;
    height: 40px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 1400px) {
  .sec5_box {
    height: 400px !important;
  }
}
@media (max-width: 1024px) {
  .sec5_boxes {
    justify-content: space-evenly;
  }
  .sec5_boxes .sec5_box {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .sec5_boxes {
    flex-direction: column;
    align-items: center;
  }
  .sec5_boxes .sec5_box {
    width: 90%;
  }
  .sec5_boxes .sec5_link {
    width: 100%;
  }
}
@media (max-width: 431px) {
  .sec5_boxes .sec5_box {
    width: 100% !important;
  }
  .sec5_boxes .sec5_link {
    width: 100%;
  }
}
@media (max-width: 376px) {
  .sec6_textbox {
    gap: 50px !important;
  }
  .sec6_textbox .sec6_maintext {
    font-size: 24px !important;
  }
  .sec6_textbox .sec6_maintext .text-line {
    height: 50px !important;
  }
  .sec6_textbox .sec6_subtext .sec6_email {
    font-size: 32px !important;
  }
  .sec6_textbox .sec6_text {
    font-size: 19px !important;
  }
  .sec6_textbox .sec6_email_link {
    font-size: 24px;
  }
}
.sec1_title,
.sec2_title,
.sec3_title,
.sec4_title,
.sec5_title,
.sec6_title {
  font-size: clamp(22px, 2vw, 32px) !important;
}

/* 헤더 & 네비 */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  z-index: 999;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
header .logo {
  width: 70px;
  height: 70px;
}
header .logo a {
  margin-left: 20px;
  background: url(../img/ljh/logo.png);
  background-size: cover;
}
header .navbar {
  width: 100%;
  display: flex;
}
header .navbar ul {
  display: flex;
  margin: 0 auto;
}
header .navbar ul li {
  margin: 0 70px;
  font-size: 20px;
}
header .nav-icon {
  width: 52px;
  height: 50px;
  background: url(../img/nav-btn/sidenav-btn.png);
  margin-right: 10px;
  display: none;
}

.project-wrap {
  margin: 0 10%;
  padding-top: 80px;
  width: 80%;
  max-width: 1600px;
  box-sizing: border-box;
}
.project-wrap .pro_sec {
  margin-bottom: 100px;
  scroll-margin-top: 120px;
}
.project-wrap .pro_title {
  font-size: 32px;
  margin-bottom: 20px;
}
.project-wrap #project_sec1 {
  width: 100%;
  margin-top: 50px;
}
.project-wrap #project_sec1 .tab-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  gap: 10px;
}
.project-wrap #project_sec1 .tab-menu li {
  color: #333;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}
.project-wrap #project_sec1 .tab-menu li.active {
  background-color: rgba(106, 138, 111, 0.7);
  font-weight: lighter;
  color: #fff;
  border-radius: 5px;
}
.project-wrap #project_sec1 .tab-content .tab-panel {
  display: none;
}
.project-wrap #project_sec1 .tab-content .tab-panel.active {
  display: block;
}
.project-wrap #project_sec1 .tab-content .pubbox {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  border: 1px solid #CBE0B9;
  border-radius: 20px;
}
.project-wrap #project_sec1 .tab-content .pubbox .publeft {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-wrap #project_sec1 .tab-content .pubbox .publeft .pub_img {
  width: 500px;
  height: 300px;
}
.project-wrap #project_sec1 .tab-content .pubbox .publeft .pub_textbox {
  text-align: center;
}
.project-wrap #project_sec1 .tab-content .pubbox .publeft .pub_textbox .pub_title {
  font-size: 20px;
  color: #222;
}
.project-wrap #project_sec1 .tab-content .pubbox .publeft .pub_textbox .pub_subtext {
  font-size: 16px;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright {
  width: 45%;
  height: 100%;
  box-sizing: border-box;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .pubr_concept {
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #182e1a;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .pubr_fc .pub_color {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 30%;
  margin-left: 5px;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .pubr_desc a {
  font-size: 24px;
  color: #182e1a;
  text-align: center;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .pubr_desc a:hover {
  color: #6A8A6F;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .text-gray {
  color: #7c7c7c;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .site-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.project-wrap #project_sec1 .tab-content .pubbox .pubright .pubr_text .site-link > .github img {
  width: 50px;
  height: 50px;
}
.project-wrap .an_mockup {
  background: url(../img/publishing/media-antenna.png) center center;
  background-size: cover;
}
.project-wrap .mea_mockup {
  background: url(../img/publishing/media-medream.png) center center;
  background-size: cover;
}
.project-wrap .bm_mockup {
  background: url(../img/publishing/media-bm.png) center center;
  background-size: cover;
}
.project-wrap .ju_mockup {
  background: url(../img/publishing/media-juicy.png) center center;
  background-size: cover;
}
.project-wrap .king_mockup {
  background: url(../img/publishing/media-king.png) center center;
  background-size: cover;
}
.project-wrap .lala_mockup {
  background: url(../img/publishing/media-lalasweet.png) center center;
  background-size: cover;
}
.project-wrap .pub_color1 {
  background-color: #31ceee;
}
.project-wrap .pub_color2 {
  background-color: #8a75b8;
}
.project-wrap .pub_color3 {
  background-color: #2ac1bc;
}
.project-wrap .pub_color4 {
  background-color: #ff001e;
}
.project-wrap .pub_color5 {
  background-color: #502314;
}
.project-wrap .pub_color6 {
  background-color: #D62300;
}
.project-wrap .pub_color7 {
  background-color: #FF3B19;
}
.project-wrap .pub_color8 {
  background-color: #016ED5;
}
.project-wrap #project_sec2 {
  width: 100%;
}
.project-wrap #project_sec2 .banner-swiper {
  width: 100%;
}
.project-wrap #project_sec2 .banner-swiper .banner-wrapper {
  height: 400px;
}
.project-wrap #project_sec2 .banner-swiper .banner-wrapper .banner_img {
  height: 400px;
  background-color: rgba(203, 224, 185, 0.5);
}
.project-wrap #project_sec2 .banner-swiper .banner-button {
  color: #fff;
}
.project-wrap .banner_img1 {
  background: url(../img/banner/mbanner.png) no-repeat center;
  background-size: cover;
}
.project-wrap .banner_img2 {
  background: url(../img/banner/megabanner.png) no-repeat center;
  background-size: cover;
}
.project-wrap .banner_img3 {
  background: url(../img/banner/jubanner.png) no-repeat center;
  background-size: cover;
}
.project-wrap #project_sec3 {
  width: 100%;
  height: auto;
}
.project-wrap #project_sec3 .card-swiper {
  width: 100%;
  height: 420px;
  position: relative;
  /* 배경 이미지 클래스 예시 */
}
.project-wrap #project_sec3 .card-swiper .card-wrapper {
  position: absolute;
  top: 30px;
  left: 40px;
  /* 활성 슬라이드는 크게 */
}
.project-wrap #project_sec3 .card-swiper .card-wrapper .card_img {
  width: 360px !important; /* swiper가 내부적으로 width를 설정하므로 !important 필요 */
  height: 360px !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scale(0.9);
  opacity: 0.6;
  overflow: visible;
}
.project-wrap #project_sec3 .card-swiper .card-wrapper .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
}
.project-wrap #project_sec3 .card-swiper .card_img1 {
  background-image: url("../img/card/card_1.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img2 {
  background-image: url("../img/card/card_2.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img3 {
  background-image: url("../img/card/card_3.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img4 {
  background-image: url("../img/card/card_4.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img5 {
  background-image: url("../img/card/card_5.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img6 {
  background-image: url("../img/card/card_6.jpg");
}
.project-wrap #project_sec3 .card-swiper .card_img7 {
  background-image: url("../img/card/card_7.png");
}
.project-wrap #project_sec3 .card-swiper .card_img8 {
  background-image: url("../img/card/card_8.jpg");
}
.project-wrap #project_sec3 .card-button {
  color: #34633a;
}
.project-wrap #project_sec3 .card_textbox {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 440px;
  height: 100px;
  justify-content: center;
}
.project-wrap #project_sec3 .card_textbox .card_text1 {
  font-size: 24px;
  color: #222;
  font-weight: 600;
}
.project-wrap #project_sec3 .card_textbox .card_tool {
  font-size: 20px;
  color: #555;
}
.project-wrap #project_sec3 .card_textbox .card_text2 {
  width: 130px;
  height: 40px;
  margin-top: 5px;
}
.project-wrap #project_sec3 .card_textbox .card_text2 > a {
  background: rgba(52, 99, 58, 0.9);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  line-height: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.project-wrap #project_sec3 .card_textbox .card_text2 > a:hover {
  background-color: #CBE0B9;
  color: #333;
  box-shadow: 0px 1px 3px #c7c7c7;
}
.project-wrap #project_sec4 {
  width: 100%;
}
.project-wrap #project_sec4 .pro_videobox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-wrap #project_sec4 .pro_videobox .video {
  display: flex;
  gap: 50px;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_video {
  width: 65%;
  height: 400px;
  background-color: #6A8A6F;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc .videodesc_title {
  font-size: 24px;
  font-weight: 600;
  color: #222;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc .videodesc_subtitle {
  font-size: 18px;
  color: #555;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc .videodesc_link {
  width: 130px;
  height: 40px;
  margin-top: 10px;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc .videodesc_link > a {
  background: rgba(52, 99, 58, 0.9);
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  line-height: 20px;
  border-radius: 10px;
  transition: all 0.3s;
}
.project-wrap #project_sec4 .pro_videobox .video .pro_videodesc .videodesc_link > a:hover {
  background-color: #CBE0B9;
  color: #333;
  box-shadow: 0px 1px 3px #c7c7c7;
}/*# sourceMappingURL=project2.css.map */