@import 'settings';
@import 'media';

/* 헤더 & 네비 */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1); // 그림자
    background-color: #fff; // 그림자 안 먹히는 문제 방지
    .logo {  
        width: 70px;
        height: 70px;
        a {
        margin-left: 20px;
        background: url(../img/ljh/logo.png);
        background-size: cover;
        }
    }
    .navbar {
    width: 100%;
    display: flex;
        ul {
        display: flex;
        margin: 0 auto;
            li{
                margin:0 70px;
                font-size: 20px;
                // font-weight: bold;
            }   
        }
    }
    .nav-icon {
        width: 52px;
        height: 50px;
        background: url(../img/nav-btn/sidenav-btn.png);
        margin-right: 10px;
        display: none;
    }
}


// 서브사이트 메인콘텐츠 워랩

.project-wrap {
    margin: 0 10%;
    padding-top: 80px; //헤더 높이
    width: 80%;
    max-width: 1600px;
    box-sizing: border-box;
    .pro_sec {
        margin-bottom: 100px;
        scroll-margin-top: 120px; // header height + 여유
    }
    .pro_title{
        font-size: 32px;
        margin-bottom: 20px;
    }
    #project_sec1{
        width: 100%;
        margin-top: 50px; // 네비랑 윗선 맞춤
        .tab-menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; // ⭐️ 가운데 정렬!
            list-style: none;
            padding: 0;
            margin: 20px 0;
            gap: 10px;
            li {
                color: #333;
                padding: 6px 16px;
                cursor: pointer;
                font-weight: bold;
                transition: all 0.3s ease;
                &.active {
                background-color: rgba(106, 138, 111, .7);
                font-weight: lighter;
                color: #fff;
                border-radius: 5px;
                }
            }
        }
        .tab-content {
            .tab-panel {
                display: none;
                &.active {
                display: block;
                }
            }
            .pubbox {
                width: 100%;
                height: 400px;
                display: flex;
                justify-content: space-around;
                box-sizing: border-box;
                border: 1px solid #CBE0B9;
                border-radius: 20px;
                .publeft {
                    width: 45%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .pub_img {
                        width: 500px;
                        height: 300px;
                        // 이미지 아래 한번에 첨부
                    }
                    .pub_textbox {
                        text-align: center;
                        .pub_title {
                            font-size: 20px;
                            color: #222;
                        }
                        .pub_subtext {font-size: 16px;}
                    }
                }
                .pubright {
                    width: 45%;
                    height: 100%;
                    box-sizing: border-box;
                    .pubr_text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
                        .pubr_concept {
                            font-size: 24px;
                            letter-spacing: 1.5px;
                            color: #182e1a;
                        }
                        .pubr_fc {                           
                            .pub_color {
                                display: inline-block;
                                width: 15px;
                                height: 15px;
                                border-radius: 30%;
                                margin-left: 5px;
                            }
                        }
                        .pubr_desc a {
                            font-size: 24px;
                            color: #182e1a;
                            text-align: center;
                        }
                         .pubr_desc a:hover {
                            color: #6A8A6F;
                         }
                        .text-gray {color: #7c7c7c;}
                        .site-link {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            > .github img {width: 50px; height: 50px;}
                        }
                    }
                }
            }
        }    
    }
    //목업이미지 모음
    .an_mockup {
        background: url(../img/publishing/media-antenna.png) center center;
        background-size: cover;
    }
    .mea_mockup {
        background: url(../img/publishing/media-medream.png) center center;
        background-size: cover;
    }
    .bm_mockup {
        background: url(../img/publishing/media-bm.png) center center;
        background-size: cover;
    }
    .ju_mockup {
        background: url(../img/publishing/media-juicy.png) center center;
        background-size: cover;
    }
    .king_mockup {
        background: url(../img/publishing/media-king.png) center center;
        background-size: cover;
    }
    .lala_mockup {
        background: url(../img/publishing/media-lalasweet.png) center center;
        background-size: cover;
    }
    // 포인트 컬러코드 모음
    .pub_color1 {background-color: #31ceee;} //안테나
    .pub_color2 {background-color: #8a75b8;} //미드림
    .pub_color3 {background-color: #2ac1bc;} //배민
    .pub_color4 {background-color: #ff001e;} //쥬씨
    .pub_color5 {background-color: #502314;} //버거킹1
    .pub_color6 {background-color: #D62300;} //버거킹2
    .pub_color7 {background-color: #FF3B19;} //버거킹3
    .pub_color8 {background-color: #016ED5;} //라라스윗
    #project_sec2 { 
    width: 100%;  
        .banner-swiper {
            width: 100%;
            .banner-wrapper {
                height: 400px;
                .banner_img {
                   height: 400px;
                   background-color: rgba(203, 224, 185,.5);
                }
            }
            .banner-button {color: #fff;}
        }
    }
    .banner_img1 {
        background: url(../img/banner/mbanner.png) no-repeat center;
        background-size: cover;
    }
    .banner_img2 {
        background: url(../img/banner/megabanner.png) no-repeat center;
        background-size: cover;
    }
    .banner_img3 {
        background: url(../img/banner/jubanner.png) no-repeat center;
        background-size: cover;
    }
    #project_sec3 {
    width: 100%;
    height: auto;
        .card-swiper {
            width: 100%;
            height: 420px;
            position: relative;
            .card-wrapper{
                position: absolute;
                top: 30px;
                left: 40px;
                .card_img {
                    width: 360px !important; /* swiper가 내부적으로 width를 설정하므로 !important 필요 */
                    height: 360px !important;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    transform: scale(0.9);
                    opacity: 0.6;
                    overflow: visible;
                }
                /* 활성 슬라이드는 크게 */
                .swiper-slide-active {
                transform: scale(1.1);
                opacity: 1;
                z-index: 10;
                }
            }
            
            /* 배경 이미지 클래스 예시 */
            .card_img1 { background-image: url('../img/card/card_1.jpg'); }
            .card_img2 { background-image: url('../img/card/card_2.jpg'); }
            .card_img3 { background-image: url('../img/card/card_3.jpg'); }
            .card_img4 { background-image: url('../img/card/card_4.jpg'); }
            .card_img5 { background-image: url('../img/card/card_5.jpg'); }
            .card_img6 { background-image: url('../img/card/card_6.jpg'); }
            .card_img7 { background-image: url('../img/card/card_7.png'); }
            .card_img8 { background-image: url('../img/card/card_8.jpg'); }
        }
        .card-button{color: #34633a;}
        .card_textbox{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 440px;
            height: 100px;
            justify-content: center;
            .card_text1 {
                font-size: 24px; 
                color: #222;
                font-weight: 600;
            }
            .card_tool {
                font-size: 20px; 
                color: #555;
            }
            .card_text2{ 
                width: 130px;
                height: 40px;
                margin-top: 5px;
                > a{                    
                background:  rgba(52, 99, 58, 0.9);
                color: #fff;
                font-size: 18px;
                text-align: center;
                padding: 10px;
                box-sizing: border-box;
                line-height: 20px; 
                border-radius: 10px;      
                transition: all 0.3s;          
                }
                > a:hover {
                background-color: #CBE0B9;                  
                color: #333;      
                box-shadow: 0px 1px 3px #c7c7c7;    
                }
            }
        }
    }
    #project_sec4 {
        width: 100%;
            .pro_videobox {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .video{
                    display: flex;
                    gap: 50px;
                    .pro_video {
                        width: 65%;
                        height: 400px;
                        background-color: #6A8A6F;
                    }
                    .pro_video video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                    .pro_videodesc {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: 7px;
                        .videodesc_title {
                            font-size: 24px; 
                            font-weight: 600;
                            color: #222;
                        }
                        .videodesc_subtitle {
                            font-size: 18px; 
                            color: #555;
                        }
                        .videodesc_link {
                            width: 130px;
                            height: 40px;
                            margin-top: 10px;
                            > a{                    
                            background:  rgba(52, 99, 58, 0.9);
                            color: #fff;
                            font-size: 18px;
                            text-align: center;
                            padding: 10px;
                            box-sizing: border-box;
                            line-height: 20px; 
                            border-radius: 10px;      
                            transition: all 0.3s;          
                            }
                            > a:hover {
                            background-color: #CBE0B9;                  
                            color: #333;      
                            box-shadow: 0px 1px 3px #c7c7c7;    
                            }
                        }
                    }
                }
            }  
        }  
    }


